# unconventional js
/packages/*/blueprints/*/files/
/packages/*/vendor/
/site/vendor/
/test-app/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/

/site/dist/
/site/tmp/
/test-app/dist/
/test-app/tmp/
/test-app/ember-cli-build.js
/test-app/testem.js
/test-app/app/config/
/test-app/config/

# dependencies
/bower_components/
/node_modules/
/packages/*/bower_components/
/packages/*/node_modules/
/packages/*/declarations/
/site/node_modules/
/test-app/node_modules/
/site/lib/docfy-theme/node_modules/
/site/lib/docfy-theme/addon/components/args-data.js

# misc
/packages/*/coverage/
!.*

# ember-try
/packages/*/.node_modules.ember-try/
/packages/*/bower.json.ember-try
/packages/*/package.json.ember-try
