<div class="max-w-md">
  <Button
    @type="button"
    {{on "click" this.toggle}}
  >
    Collapse
  </Button>

  <Collapsible @isOpen={{this.isOpen}}>
    <div class="p-8 mt-4 text-white bg-primary-800 rounded">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
    </div>
  </Collapsible>
  <button type="button" class="mt-4">
    Hey
  </button>
</div>