{{page-title "Frontile"}}

<div class="p-4 bg-gray-900">
  <LinkTo
    @route="docs"
    class="pb-1 text-gray-200 border-b-2 border-transparent hover:border-teal-500 focus:outline-none focus-visible:shadow-outline "
    @activeClass="border-teal-500"
  >
    Documentation
  </LinkTo>
</div>

<div>
  {{outlet}}
</div>
