@import './inter-font.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './highlight.css';
@import './docfy-demo.css';

.prose h2,
.prose h3,
.prose h4,
.docfy-demo__description__header__title {
  & > a {
    @apply ml-6 lg:ml-0;
    @apply lg:ml-0;

    &::before {
      content: '#';
      @apply text-primary-500 -ml-6 pr-2 absolute opacity-100;
    }

    @screen lg {
      &::before {
        @apply opacity-0 pr-1;
      }
    }
  }
  &:hover {
    & > a::before {
      @apply opacity-100;
    }
  }
}
