<div class="flex flex-col mb-6">
  <div class="flex overflow-x-auto whitespace-nowrap">
    <LinkTo
      @route="buttons"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Buttons
    </LinkTo>
    <LinkTo
      @route="changeset-form"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Changeset Form
    </LinkTo>
    <LinkTo
      @route="core"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Core
    </LinkTo>
    <LinkTo
      @route="forms"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Forms
    </LinkTo>
    <LinkTo
      @route="notifications"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Notifications
    </LinkTo>
    <LinkTo
      @route="overlays"
      @activeClass="border-teal-600"
      class="px-2 py-2 border-b-4 border-transparent"
    >
      Overlays
    </LinkTo>
  </div>
</div>