name: CI

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request: {}

env:
  CI: 'true'

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 12.x
          yarn-version: 1.x
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint JS
        run: yarn lint:js
      - name: Lint HBS
        run: yarn lint:hbs
      - name: Test
        run: yarn test

  try-scenarios:
    name: Compat ${{ matrix.ember-try-scenario }}
    runs-on: ubuntu-latest
    needs: test

    env:
      CI: 'true'

    strategy:
      fail-fast: true
      matrix:
        ember-try-scenario:
          - ember-release
          - ember-beta
          # - ember-canary https://github.com/jeffjewiss/ember-cli-postcss/issues/745

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 12.x
          yarn-version: 1.x
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn try:one ${{ matrix.ember-try-scenario }} --skip-cleanup
